.hero-behandling {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 20px;
    gap: 30px;
    overflow: hidden;
   background:
    linear-gradient(to right, rgba(0, 20, 60, 0.7) 40%, rgba(255, 255, 255, 0.8) 100%),
    url("../img_lager/DSC_5019.webp") center right / cover no-repeat;
}

.hero-text-behandling{
    position: relative;
    z-index: 2;
    color: #ffffff;
}

.hero-behandling p {
    margin-top: 10px;
}

.hero-buttons-behandling {
    display: flex;
    gap: 15px;
}


 @media screen and (min-width: 769px) {
    .hero-behandling {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 60px 150px;
        height: 600px;
    }
    .hero-text-behandling {
        flex: 1;
        text-align: left;
    }
    .hero-behandling p {
        margin-top: 50px;
        margin-right: 520px;
    }
    .btn-hero {
        padding: 14px 30px;
        font-size: 20px;
    }
}