/* BASE BUTTON */
.btn,
.btn-second {
    display: inline-block;
     padding: var(--space-s) var(--space-m);
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    font-family: DM Sans;
    position: relative;
    margin-bottom: var(--space-m);
    margin-top: var(--space-m);
}

/* PRIMARY */
.btn {
    background-color: #1e73d8;
    color: white;
    border: none;
}

/* SECONDARY */
.btn-second {
    background:transparent;
    border: 2px solid #1e73d8;
    color: #1E3856;
    width: fit-content;
    text-align: left;
    color: #1e73d8;
}



/* små UI ting */
.dot-icon {
    width: 16px;
    height: 16px;
    background: #1E3856;
    border-radius: 50%;
}

.dot-iconxs {
    width: 10x;
    height: 10px;
    background: #1E3856;
    border-radius: 50%;
}

.btn:hover {
    transform: translateY(-2px) scale(1.03);
    box-shadow: 0 8px 18px rgba(0,0,0,0.15);
    background-color: #1E3856;
}

.btn-second:hover {
    transform: translateY(-2px) scale(1.03);
    box-shadow: 0 8px 18px rgba(0,0,0,0.15);
    background-color: #1e73d8;
    color: white;
}



@media screen and (min-width: 769px) {
   .btn,
.btn-second {
    font-size: 18px;
     padding: var(--space-s) var(--space-l);
    margin-bottom: 0;
}

}