/* BASE BUTTON */
.btn,
.btn-second {
    display: inline-block;
    padding: 12px 18px;
    border-radius: 9px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
    font-family: DM Sans;
    position: relative;
    margin-bottom: var(--space-m);
    margin-top: var(--space-m);
}

/* PRIMARY */
.btn {
    background-color: #1e73d8;
    color: white;
    border: none;
}

/* SECONDARY */
.btn-second {
    background: transparent;
    border: 3px solid #1e73d8;
    color: #1E3856;
    width: fit-content;
    text-align: left;
}

/* PILE (fælles) */
.btn::after,
.btn-second::after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-left: 10px;
    transform: rotate(45deg);
}

/* FARVER på pil */
.btn::after {
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
}

.btn-second::after {
    border-right: 2px solid currentColor;
    border-top: 2px solid currentColor;
}


/* små UI ting */
.dot-icon {
    width: 16px;
    height: 16px;
    background: #1E3856;
    border-radius: 50%;
}

.dot-iconxs {
    width: 10x;
    height: 10px;
    background: #1E3856;
    border-radius: 50%;
}

.btn:hover {
    transform: translateY(-2px) scale(1.03);
    box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}



@media screen and (min-width: 769px) {
   .btn,
.btn-second {
    font-size: 18px;
    padding: 14px 20px;
    margin-bottom: 0;
}
    /* Pil bliver lidt større */
    .btn::after,
.btn-second::after {
    width: 8px;
    height: 8px;
}

}