
/* ==========================================================================
   16. DESKTOP STYLES (min-width: 769px)
   ========================================================================== */
@media screen and (min-width: 769px) {

    /* Base Typography Desktop */
    h1, h2 { font-size: 45px; }
    h3 { font-size: 25px; }
    h4 { font-size: 18px; }
    p { font-size: 18px; }
    .btn { font-size: 18px; }
    .topbar { font-size: 18px; }

    /* Navbar Desktop */
    .navbar {
        padding: 0% 150px;
    }

    .hamburger {
        display: none;
    }

    .nav-menu {
        position: static;
        flex-direction: row;
        width: auto;
        height: 5px;
        background: none;
        padding-top: 0;
        gap: 30px;
        align-items: center;
    }

    .btn-nav {
        order: 3;
        font-size: 18px;
        font-size: 18px;
        padding: 14px 20px;
        margin-left: 0px;
        align-self: center;
    }

    .nav-link:hover,
    .nav-link.active {
        background: transparent;
        font-weight: 800;
    }

    /* Dropdown Desktop */
    .dropdown {
        position: relative;
    }
    .dropdown > .nav-link {
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 200px;
        display: none;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }
    .dropdown:hover .dropdown-menu {
        display: flex;
    }
    .dropdown-menu.active {
        display: none;
    }

   

    /* Footer Desktop */
    .footer-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        align-items: start;
        padding: 50px 150px;
    }

    /* Footer knapper */
    .footer-buttons {
        flex-direction: column;
        gap: 10px;
    }



    /* Generel knap */
    .btn {
        font-size: 18px;
        padding: 14px 20px;

    }

    /* Pil bliver lidt større */
    .btn::after {
        width: 8px;
        height: 8px;
    }

     /* Hover lidt tydeligere på desktop */
    .btn:hover {
        transform: translateY(-2px);
        box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
    }
     /* Footer knapper */
    .footer-buttons {
        flex-direction: column;
        gap: 10px;
    }
}



  

