/* ==========================================================================
   3. TOPBAR
   ========================================================================== */
.topbar {
    background:  #DEEEFF;
    color: #1E3856;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-weight: 300;
    font-size: 12px;
    padding: 6px;
}

/* ==========================================================================
   4. SITE HEADER & NAVIGATION
   ========================================================================== */
.site-header {
    background-color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 20px;
}

.nav-logo img {
    width: 200px;
    height: auto;
}

/* Hamburger Menu */
.hamburger {
    display: block;
    cursor: pointer;
    z-index: 9999;
}

.bar {
    width: 24px;
    height: 2px;
    margin: 4px 0;
    background-color: #1E3856;
    display: block;
    transition: all 0.3s ease;
}


.hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

/* Nav Menu */
.nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    gap: 20px;
    transition: 0.3s ease;
    z-index: 999;
}

.nav-menu.active {
    left: 0;
}

.nav-link {
    color: #1E3856;
    text-decoration: none;
    padding: 15px;
 
    opacity: 0.9;
    transition: 0.2s;
}


.nav-link:hover,
.nav-link.active {
     opacity: 1.5;
}



/* Dropdown */
.dropdown {
    width: 100%;
}
.dropdown > .nav-link {
    display: block;
}
.dropdown-menu {
    display: none;
    flex-direction: column;
    background-color: #EDF3F7;
    border-radius: 9px;
}
.dropdown-menu.active {
    display: flex;
}
.dropdown-item {
    padding: 15px 15px;
    color: #1E3856;
    text-decoration: none;
}
.dropdown-item:hover {
    background-color: #1E3856;
    color: #fff;
}

.btn-nav {
    background: #1e73d8;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 9px;
    font-weight: 200;
    font-size: 16px;
    white-space: nowrap;
    align-self: flex-start;
    width: auto;
    margin-left: 10px;
}

/* ==========================================================================
   15. FOOTER
   ========================================================================== */

.footer {
    background-color: #1E3856;
    color: #fff;
    padding: var(--space-xl) 0; /* Matcher dine andre sektioner */
}

.footer-container {
    display: grid;
    gap: var(--space-l);
    grid-template-columns: 1fr; /* Mobil: En kolonne */
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
    font-weight: 700;
}

.footer .col {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
}

.social {
    display: flex;
    flex-direction: row;
    gap: var(--space-m);
    align-items: center;
}
